

@font-face {
        font-family: 'CodersCrux2';
        src: url('../fonts/coders-crux-2-font/CodersCrux2Regular-grnR.ttf');
      }  
 
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 22px;
    font-family: "Metropolis";
  }
 
  section {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items:center;
    position: relative;
    display:flex;
  }
  .container img {
    height: 100%;
    width: 100%;
  }
  .all-tooltip {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  
  .tooltip-content {
    position: absolute;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 20px #00000020;
    padding: 30px;
    border-radius: 8px;
    max-width: 90vw;
    width:auto;
    opacity: 0;
    pointer-events: none;
    left: 50%;
    z-index: 2;
  }
  .tooltip-content .arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 10px solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    top: 0px;
    left: 50%;
    transform: translate(-50%, -100%) rotate(0deg);
  }
  .pin {
    position: absolute;
    content: "";
    top: 50%;
    left: 80%;
    height: 25px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
  }
  .pin:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    animation: puls-effect 1s ease infinite;
  }
  .tooltip.active .tooltip-content {
    opacity: 1;
    pointer-events: all;
    display: block;
  }
  
  /* Custom Style for tooltip-1 */
  
  .tooltip-1 .pin {
    top: 84.5%;
    left: 30.8%;
    height: 20px;
    width: 20px;
  }
  
  .tooltip-1 .tooltip-content .content {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 20px #00000020;
  } */
  
  .tooltip-1 .tooltip-content .content h1 {
    margin: 20px 0;
    font-size:24px;
  }
  .tooltip-1 .tooltip-content {
    background-color: black;
  }
  .tooltip-1 .tooltip-content {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 20px #00000020;
  }
  
  
  /* custom style for tooltip-2 */
  
  .tooltip-2 .pin {
    left:23.8%;
    top:79.5%;
    height: 20px;
    width: 20px;
  }
  .tooltip-2 .tooltip-content .content h1 {
    margin: 20px 0;
    font-size:24px;
  }
  .tooltip-2 .tooltip-content {
    background-color: black;
  }
  .tooltip-2 .tooltip-content {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 20px #00000020;
  }
  
  /* Custom style for tooltip-3 */
  
  .tooltip-3 .pin {
    top: 74.9%;
    left: 47.2%;
    height: 20px;
    width: 20px;
  }
  
  .tooltip-3 .tooltip-content .content h1 {
    font-family:"Montserrat" ;
    margin: 20px 0;
    font-size:24px;
  }
  .tooltip-3 .tooltip-content {
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 20px #00000020;
  }
  /* Custom style for tooltip-4 */
  
  .tooltip-4 .pin {
    top: 82.2%;
    left: 43.3%;
    height: 20px;
    width: 20px;
  }
  
  .tooltip-4 .tooltip-content .content h1 {
    margin: 20px 0;
    font-size:24px;
  }
  .tooltip-4 .tooltip-content {
    background-color: black;
  }
  .tooltip-4 .tooltip-content {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 20px #00000020;
  }
  /* Puls Effect For Pins */
  
  @keyframes puls-effect {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }
  
  /* Media Query */
  
  @media (max-width: 768px) {
    .tooltip-1 .tooltip-content {
      flex-direction: column;
      max-width: 300px;
    }
    .tooltip-1 .tooltip-content .content,
    .tooltip-1 .tooltip-content .img {
      width: 100%;
    }
  }
  
  
  a:link {
    padding: 0;
    margin: 0;
    color: rgb(26, 162, 200);
    text-decoration: underline;
  }
  
  a:hover{
    color:hotpink;
    cursor: pointer;
  }
  
  /* ----------------------------other pages---------------------------- */
  /* .logo {
    height: 2rem;
  } */
  
  .text-faded {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 50px;
  }
  .scroll-to-top:focus, .scroll-to-top:hover {
    color: #fff;
  }
  .scroll-to-top:hover {
    background: #343a40;
  }
  .scroll-to-top i {
    font-weight: 800;
  }
  
  #sidebar-wrapper {
    position: fixed;
    z-index: 2;
    right: 0;
    width: 200px;
    height: 40%;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    background:  rgba(59,33,193,0.8) ;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 10;
    padding: 5;
    text-decoration: none;
    list-style-type: none; 
   
  }
  
  .sidebar-nav li.sidebar-nav-item a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
  }
  
  .sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background:rgba(12, 233, 12, 0.8) ;
  }
  
  .sidebar-nav li a:active,
  .sidebar-nav li a:focus {
    text-decoration: none;
  }
  
  .sidebar-nav > .sidebar-brand {
    font-size: 1.2rem;
    background: rgba(52, 58, 64, 0.1);
    height: 80px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
  
  .sidebar-nav > .sidebar-brand a {
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
  }
  
  #sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }
  
  .menu-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 50px;
    z-index: 999;
  }
  .menu-toggle:focus, .menu-toggle:hover {
    color: #fff;
  }
  .menu-toggle:hover {
    background: #343a40;
  }
  
  .btn-xl {
    padding: 1.25rem 2.5rem;
  }
  
  .callout {
    padding: 15rem 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../assets/img/bg-callout.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .callout h2, .callout .h2 {
    font-size: 3.5rem;
    font-weight: 700;
    display: block;
    max-width: 30rem;
  }
  
  /* HEADER */
  header {
    height: 100vh;
  }
  
  .wrap-2, .wrap-3, .wrap-4, .wrap-5{
    margin:15px;
  }
  
  .project1, .project2, .project3, .project4, .artwork{
    /* background-color: #dcd2c0; */
    background-color: black;
    padding:10px;
  }
  
  header h1 {
    font: 2.5rem bluu, sans-serif;
    color: #b30203;
  }

  
  h1 {
    color: rgb(12, 233, 12);
    font-family: 'CodersCrux2', roboto;
  
  }



  h5{
    color: white;
    font-family: "monospace";
  }

  #finalProject, #webProject, #ThreeDProjects, #audioProject, #artWork{
    margin-top:20px;
    
  } 
  
h6{
  background-color:rgb(246, 172, 109) ;
  font-family: "monospace";
  font-weight: 500;
}

  p{
    font-family: "monospace";
    line-height: 1.3;
  }
  
  .carousel-img{
   width:100%;
   height:auto;
  }
  
  /* --------------------------------------------------Artwork------------------------------------------------ */
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 2000px;
    margin: 0 auto;
  
  }
  
  .grid-item {
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
    min-height: 200px;
    overflow: hidden;
  }
  
  .grid-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .page-navigation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-navigation button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .page-navigation button:hover {
    background-color: #555;
  }

/* ---------------------------------------About me-------------------------------------------- */
.textContainer{
  padding:1rem;
}


  
  /*-----------------------------------------------------------------FOOTER---------------------------------------------------------*/
  footer {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    /* background-color: rgb(87, 7, 216); */
    justify-content: center;
  }
  
  #footer_contents {
    margin-top: 1rem;
  }
  
  /* CONTACT US */
  #contact a {
    /* color: rgb(12, 233, 12); */
    color:#278afb;
    font: 1rem roboto, sans-serif;
    font-weight: bold;
    padding: 0.5rem;
    text-decoration: none;
  }
  
  #contact a:hover {
    color:#ff39a3;
    text-decoration: underline;
  }
  
  /* SOCIAL MEDIA ICONS */
  #media_icons li {
    margin-left: 0.5rem;
  }
  
  #media_icons a {
    padding: 0.5rem;
    font-size: 1.5rem;
    color: #278afb;
  }
  
  #media_icons a:hover {
    color:#ff39a3;
  }
  
  
  #contactMeContainer{
    justify-content: center;
  }
 
  /* Email Address */
  .email_address {
    margin-top: 2.5rem;
  }
  
  .email_address span {
    font-size: 1.2rem;
    color: rgb(12, 233, 12);
  }
  
  .email_address h2 {
    font: 1.15rem bluu, sans-serif;
    color: #278afb;
    display: inline;
    font-weight: bold;
  }
  
  .email_address a {
    color: #278afb;
    display: inline-block;
    margin-left: 0.7rem;
    font: 1rem monospace, sans-serif;
  }
  
  .email_address a:hover {
    text-decoration: none;
  }

  
/* ---------projects------ */
  
  .all_accordions {
    margin: 3rem 0;
  }
  
  #accordionOuter,
  #accordionOuter1,
  #accordionOuter1,
  #accordionOuter2,
  #accordionOuter3,
  #accordionOuter4 {
    margin-bottom: 2rem;
  }
  
  .header_accordion_button {
    padding: 1.5rem;
    font: 1.15rem sofiapro, sans-serif;
    color: rgb(59, 36, 56);
    font-weight: bold;
  }
  
  .accordion-item {
    background-color: white;
  }
  
  .nested_accordion {
    background-color: rgb(249, 223, 174);
    border-radius: 0.5rem;
  }
  
  .accordion-header button:hover {
    /* background-color: #c05e25; */
    background-color:#ff39a3;
    color: white;
  }
  
  .accordion-button:not(.collapsed) {
    background-color:#278afb;
    color: rgb(59, 36, 56);
  }
  
  .close-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
   
  .accordion-button_close {
    background-color: rgba(	255, 57, 163, 0.8);
    color: white;
    width:10%;
    height:3%;
    font-size: .7rem;
    font-family: "roboto";
    border:none;
  }

  .accordion-button_close:hover{
    background-color: rgb(12, 233, 12)!important;
    color: rgb(59, 36, 56) !important;
    border:none;
    border-radius: 10%;
  }
  
  
  
  .nested_buttons {
    font: 1.08rem sofiapro, sans-serif;
    font-weight: bold;
    color: rgb(59, 36, 56);
  }
  
  .nested_paragraph {
    font: 1rem sofiapro, sans-serif;
    color: #4D3548;
    padding: 2rem;
  }
  
  .accordion {
    /* --bs-accordion-bg: #f4a214; */
    --bs-accordion-bg: #278afb;
    --bs-accordion-border-color: transparent;
    --bs-accordion-btn-focus-box-shadow: none;
  }
  
  .accordion-item {
    border: none;
  }
  
  .accordion-button:focus {
    border-color: transparent;
  }
  
  .insideImg img{
    width:100%;
  }
  
  .insideImg2 img{
    width:80%;
    margin-left:10%;
  }
  
  .insideImg3 img{
    width:80%;
  }
  
  .insideImg4 img{
    width:50%;
    margin-left:25%;
    margin-bottom:2%;
  }

  video {
    width: 100%;
    max-width: 800px; 
    height: auto; 
    margin-left:15%;
  }
  
  
  .frame{
    background-color:rgb(249, 223, 174);;
    width:100%;
    /* margin:2.5rem; */
  }
  
  .frame h5{
   margin-left:20px;
   font-family: "monospace";
  }
 
  
    /*--------Contact me------------*/
  

    .contact_number span {
      font-size: 0.9rem;
    }
  
    .contact_number h2 {
      font-size: 1rem;
    }
  
    .contact_number a {
      font-size: 0.8rem;
      font-weight: bold;
    }
  
    /* Email Address */
    .email_address span {
      font-size: 1rem;
    }
  
    .email_address h2 {
      font-size: 1rem;
    }
  
    .email_address a {
      font-size: 0.8rem;
      font-weight: bold;
    }


    .email_address .email_text {
      padding: 0 5px;
      text-align: center;
    }
  
    .email_address .textual_email {
      padding: 0;
    }
  
    .email_address .textual_email a {
      margin-left: 0px;
    }
  
  
  
  
  